*,
*::after,
*::before {
  padding: 10;
  margin: 10;
  box-sizing: border-box;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
div{
  
 align-content:center;
}
body {
  position: relative;
  background-color: #a0a0b3;
}
h1 {
  text-align: center;
  margin-top: 10px;
  color: aliceblue;
}
form {
  margin-top: 10px;
  margin-bottom: 20px;
  bottom: 200px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 8px;
  border: 2px solid rgb(18, 18, 19);
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.items {
 

  margin-left: 20%;
  margin-right: 20%;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 10;
}

.completedTodo {
  background-color: rgb(231, 83, 83);
  text-decoration: line-through;
}
